# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# custom
custom.el

# Undo-tree save-files
*.~undo-tree

# flycheck temp file
.flycheck*

# recentf
recentf
history

# network
*.data

elpa/
quelpa/
eln-cache/
tree-sitter/
