# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# custom
custom.el

# Undo-tree save-files
*.~undo-tree

# flycheck temp file
.flycheck*

# recentf
recentf
history
places

# network
*.data

elpa/
etc/
var/
quelpa/
eln-cache/
tree-sitter/
auto-save-list/
